body{
	background-color: #ABD2F4;}
.choice-container {
	display: flex;
	margin-bottom: 0.5rem;
	width: 100%;
	font-size: 1.8rem;
	border: 0.1rem solid rgb(86, 165, 235, 0.25);
	background-color: white;
}

.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

.choice-prefix {
	padding: 1.5rem 2.5rem;
	background-color: #021C33;
	color: white;
}

.choice-text {
	padding: 1.5rem;
	width: 100%;
}

.correct {
	background-color: #28a745;
}

.incorrect {
	background-color: #dc3545;
}
/*HUD */
#hud {
	display: flex;
	justify-content: space-between;
}

.hud-prefix {
	text-align: center;
	font-size: 2rem;
	color: #021C33;

}

.hud-main-text {
	text-align: center;
}

#progressBar {
	width: 20rem;
	height: 4rem;
	border: 0.3rem solid #021C33;
	margin-top: 1.5rem;
}

#progressBarFull {
	height: 3.4rem;
	background-color: #021C33;
	width: 0%;
}
#progressText{
	color: #021C33;
	font-weight: bold;

}
.answers-indicator div{
	height: 35px;
	width: 35px;
	display: inline-block;
	background-color: #AAABAD;
	border-radius: 50%;
	margin-top: 17px;
	margin-right: 9px;
}

.answers-indicator div.correct{
	background-color: green;
	background-image: url(correct.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.answers-indicator div.incorrect{
	background-color: red;
	background-image: url(wrong.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

#question{
	font-size: 35px;
}

#game{
	margin-top: 10px;
}
